$white: #fff;
$black: #000;

$yellow: #fce38a;
$pink: #f38181;

$mint: #95e1d3;
$grey: #999999;
$light-grey: #e5e5e5;
$dark-grey: #333333;

$image-color1: rgba(#f38181,0.8);
$image-color2: rgba(#fce38a,0.8);

$banner-border: #b5eae0;
$light-bg: #f8f8f8;

$work-image-color1: rgba(#f38181,0.9);
$work-image-color2: rgba(#fce38a,0.9);

$arrow-color: #cccccc;

$clients-photo-right: 75% 66% 64% 96% ;
$clients-photo-top: 10% 10% 10% 40% ;