$white: #fff;
$black: #000;

$yellow: #fce38a;
$pink: #f38181;

$mint: #95e1d3;
$grey: #999999;
$light-grey: #e5e5e5;
$dark-grey: #333333;

$image-color1: rgba(#f38181,0.8);
$image-color2: rgba(#fce38a,0.8);