.clients{
    padding-top: 108px;
    padding-bottom: 60px;
    position: relative;
    background: url('../../img/clients/clients-bg.jpg') top center no-repeat;
    &::after{
        content: "";
        background-color: rgba($color: $white, $alpha: 0.85);
        display: block;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .section-title{
        position: relative;
        z-index: 2;
        @include section-title();
        padding-bottom: 80px;
    }
    .clients-box{
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .client-review{
            display: block;
            flex: 1 1 49%;
            box-sizing: border-box;
            margin-bottom: 60px;
            justify-content: center;
            display: flex;
            .image{
                margin-top: 8px;
                position: relative;
                overflow: hidden;
                max-width: 110px;
                max-height: 110px;
                width: 100%;
                border-radius: 50%;
                transform: translate(6px,0);
                img{
                    display: block;
                    position: relative;
                }
            }
            @each $right in $clients-photo-right {
                $i: index($list: $clients-photo-right, $value: $right);
                &:nth-child(#{$i}){
                    .image{
                        img{
                            right: $right;
                            bottom: nth($list: $clients-photo-top, $n: $i);
                        }
                    }
                }   
            }
            .info{
                padding-top: 19px;
                margin-left: 37px;
                max-width: 390px;
                width: 100%;
                .name {
                    color: $dark-grey;
                    font-size: 14px;
                    text-transform: uppercase;
                    padding-bottom: 7px;
                    font-weight: 400;
                }
                .desc{
                    color: $dark-grey;
                    font-size: 15px;
                    line-height: 24px;
                    padding-bottom: 4px;
                    font-family: 'Roboto', sans-serif;
                    font-style: italic;
                    font-weight: 300;
                }
                .line{
                    display: inline-block;
                    @include line(60px,3px,$pink);
                }
                .text{
                    padding-top: 18px;
                    margin-left: 2px;
                    color: $grey;
                    font-size: 15px;
                    line-height: 24px;
                    font-family: 'Roboto', sans-serif;
                }
            }
        }
    }
}

@media(max-width:1800px){
    .clients{
        .clients-box{
            .client-review{
                padding-right: 20px;
            }
        }
    }
}

@media(max-width:1550px){
    .clients{
        padding: 112px 100px 60px;
    }
}

@media(max-width:940px){
    .clients{
        .clients-box{

            .client-review{
                padding-right: 0;
                flex: 1 1 100%;
            }
        }
    }
}

@media(max-width:740px){
    .clients{
        padding: 60px 50px;
        .section-title{
            padding-bottom: 40px;
        }
        .clients-box{
            .client-review{
                margin-bottom: 26px;
            }
        }
    }
}

@media(max-width:460px){
    .clients{
        .clients-box{
            .client-review{
                .image{
                    display: none;
                }
                .info{
                    margin-left: 0;
                }
            }
        }
    }
}