.header{
    width: 100%;
    background: url('../../img/header-bg.jpg') top center no-repeat;
    .top-menu{
        padding-top: 30px;
        padding-bottom: 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        nav{
            padding-top: 7px;
            width: 618px;
            display: flex;
            justify-content: space-between;
            .menu-links{
                width: 490px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                li>a{
                    transition: 0.3s;
                    text-decoration: none;
                    color: $white;
                    text-transform: uppercase;
                    font-size: 14px;
                    padding-bottom: 12px;
                    border-bottom: 3px solid transparent;
                    &:hover{
                        color: $yellow;
                        border-bottom: 3px solid $yellow;
    
                    }
                }
            }
            .header-icons{
                margin-left: 1px;
                .icon{
                    display: inline-block;
                    svg{
                        width: 18px;
                        height: 16px;
                        cursor: pointer;
                        fill: $white;
                        &:hover{
                            fill: $yellow;
                            transform: scale(1.2);
                        }
                    }
                    &:first-child{
                        margin-right: 40px;
                    }
                }
    
            }
        }

    }

    .title{
        color: $white;
        margin: 0 auto;
        margin-top: 151px;        
        span{
            font-family: 'Kaushan Script', cursive;
            display: block;
            text-align: center;
            font-size: 72px;
            text-align: center;
            margin-bottom: 42px;
        }
        h1{
            margin: 0 auto;
            text-align: center;
            font-size: 150px;
            line-height: 140px;
            font-weight: 700;
            width: min-content;
            text-transform: uppercase;
            letter-spacing: -6px;
        }
    }

    .line{
        margin: 0 auto;
        margin-top: 56px;
        display: block;
        background-color: white;
        width: 60px;
        height: 3px;
    }

    .header-btn{
        a{
            display: block;
            margin: 0 auto;
            margin-top: 50px;
            text-decoration: none;
            color: $white;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            box-sizing: border-box;
            width: 162px;
            height: 40px;
            border: 3px solid $white;
            padding: 12px 0;
            text-align: center;
            transition: 0.3s;
            &:hover{
                border-color: $pink;
                color: $pink;
            }
        }

    }

    .header-links{
        margin-top: 157px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        a{
            position: relative;
            cursor: pointer;
            width: 280px;
            text-decoration: none;
            color: $white;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 400;
            border-top: 3px solid $white;
            padding-top: 24px;
            padding-bottom: 28px;
            span{
                font-weight: 700;
                font-size: 24px;
            }
            &:after{
                transition: 0.3s;
                content: '';
                position: absolute;
                height: 3px;
                width: 0;
                background-color: $pink;
                top: -3px;
                left: 0;
            }
            &:hover:after{
                width: 70px;
            }
            &:not(:last-child){
                margin-right: 20px;
            }
        }
    }
}