.links{
    padding-top: 73px;
    .links-box{
        display: flex;
        // justify-content: flex-start;
        justify-content: space-between;

        .contacts{
            max-width: 480px;
            .logo{
                margin-bottom: 36px;
            }
            .info{
                font-family: 'Roboto', sans-serif;
                font-size: 15px;
                line-height: 24px;
                color: $grey;
                margin-bottom: 19px;
            }   
            .followers{
                padding: 20px 0;
                border-bottom: 1px solid $light-grey;
                color: $dark-grey;
                font-weight: 400;
                font-size: 14px;
                span{
                    font-weight: 700;
                    font-size: 18px;
                }
            }
            .social{
                margin: 15px 0;
                span{
                    text-transform: capitalize;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                    font-style: italic;
                    color: $grey;
                }
                svg{
                    fill: $mint;
                    max-width: 16px;
                    max-height: 16px;
                    margin-right: 18px;
                }
            }
            form{
                box-sizing: border-box;
                margin-top: 35px;
                margin-left: -1px;
                
                input{
                    padding-left: 9px;
                    box-sizing: border-box;
                    width: 230px;
                    height: 40px;
                    border: 1px solid $light-grey;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                    font-style: italic;
                    color: $grey;
                    background-color: $white;
                }
                button{
                    transform: translateX(-4px);
                    padding: 0;
                    width: 150px;
                    height: 40px;
                    background-color: $mint;
                    border: 0;
                    color: $white;
                    font-weight: 700;
                    font-size: 14px;
                    text-transform: uppercase;
                }
            }
        }
        .blogs{
            max-width: 384px;
            width: 100%;
            margin-left: 0px;
            h3{
                font-size: 14px;
                color: $dark-grey;
                text-transform: uppercase;
                margin-top: 5px;
                margin-bottom: 37px;
            }
            .blogs-box{
                .blog-link{
                    display: flex;
                    justify-content: flex-start;
                    img{
                      width: 120px;
                      height: 80px;  
                      margin-right: 20px;
                      margin-bottom: 30px;
                    }
                    .blog-info{
                        p{
                            text-transform: uppercase;
                            color: $dark-grey;
                            font-size: 12px;
                            line-height: 18px;
                            margin-top: 18px;
                            max-width: 200px;
                        }
                        span{
                            display: block;
                            font-size: 13px;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 300;
                            font-style: italic;
                            color: $grey;
                            margin-top: 9px;
                        }
                    }
                }
            }
        }
        .instagram{
            width: 273px;
            h3{
                font-size: 14px;
                color: $dark-grey;
                text-transform: uppercase; 
                margin-top: 5px;
                margin-bottom: 36px;
            }
            a{
                display: block;
                margin-top: 11px;
                text-decoration: none;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                font-style: italic;
                color: $dark-grey;
                font-size: 13px;
                line-height: 24px;
            }
        }
    }
}